DATABASE_URL=postgresql://flooduser:Kinshasa2026@127.0.0.1:55432/floodsense
REDIS_URL=redis://localhost:6379
PORT=3001
NODE_ENV=development
FRONTEND_URL=http://localhost:3000
JWT_SECRET=change_moi_avec_une_chaine_aleatoire_de_64_chars
AI_SERVICE_URL=http://localhost:8000
OPENWEATHER_API_KEY=your_key_here
AFRICA_TALKING_API_KEY=your_key_here
AFRICA_TALKING_USERNAME=sandbox
EMAIL_HOST=smtp.sendgrid.net
EMAIL_PORT=587
EMAIL_USER=apikey
EMAIL_PASS=your_sendgrid_key
LOG_LEVEL=info
